<p id="notice"><%= notice %></p>

<p>
  <strong>Codigo:</strong>
  <%= @carrera.codigo %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @carrera.nombre %>
</p>

<p>
  <strong>Jefe carrera:</strong>
  <%= @carrera.jefe_carrera %>
</p>

<p>
  <strong>Escuela:</strong>
  <%= @carrera.escuela.nombre %>
</p>

<%= link_to 'Editar', edit_carrera_path(@carrera) %> |
<%= link_to 'Volver', carreras_path %>
