<%= form_with(model: evidence, local: true) do |form| %>
  <% if evidence.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(evidence.errors.count, "error") %> prohibited this evidence from being saved:</h2>

      <ul>
      <% evidence.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <!--
  <div class="field">
    <%= form.label :nombre %>
    <%= form.text_field :nombre, id: :evidence_nombre %>
  </div>
  -->

  <div class="field">
    <%= form.label :archivo %>
    <%= form.file_field :archivo %>
  </div>

  <div class="field">
    <%= form.label :descripcion %>
    <%= form.text_area :descripcion, id: :evidence_descripcion %>
  </div>

  <div class="field">
    <%= form.label :universidad %>
    <%= form.collection_select :universidad_id, Universidad.all.order("nombre"), :id, :codigo, {selected: 1} %>
  </div>

  <div class="field">
    <%= form.label "Facultad" %>
    <%= form.collection_select :facultad, Facultad.all.order("nombre"), :codigo, :nombre %>
  </div>

  <div class="field">
    <%= form.label "Escuela" %>
    <%= form.collection_select :escuela, Escuela.all.order("nombre"), :codigo, :nombre %>
  </div>

  <div class="field">
    <%= form.label "Carrera" %>
    <%= form.collection_select :carrera, Carrera.all.order("nombre"), :codigo, :nombre %>
  </div>

  <div class="field">
    <%= form.label :tipo_evidencia_id %>
    <%= form.collection_select :evidencetype_id, Evidencetype.all, :id, :tipo %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
