<p id="notice"><%= notice %></p>

<h1>Evidencias</h1>

<table>
  <thead>
    <tr>
      <th>Codigo</th>
      <th>Nombre</th>
      <th>Descripcion</th>
      <th>Creado por</th>
      <th>Rut</th>
      <th>Evidencetype</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @evidences.each do |evidence| %>
      <tr>
        <td><%= evidence.codigo %></td>
        <td><%= evidence.nombre %></td>
        <td><%= evidence.descripcion %></td>
        <td><%= evidence.usuario.nombre %></td>
        <td><%= evidence.usuario.rut %></td>
        <td><%= evidence.evidencetype.tipo %></td>
        <td><%= link_to 'Ver', evidence %></td>
        <td><%= link_to 'Editar', edit_evidence_path(evidence) %></td>
        <td><%= link_to 'Borrar', evidence, method: :delete, data: { confirm: '¿Esta Seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nueva Evidencia', new_evidence_path %>
