<p id="notice"><%= notice %></p>

<h1>Evidences</h1>

<table>
  <thead>
    <tr>
      <th>Codigo</th>
      <th>Nombre</th>
      <th>Descripcion</th>
      <th>Universidad</th>
      <th>Usuario</th>
      <th>Evidencetype</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @evidences.each do |evidence| %>
      <tr>
        <td><%= evidence.codigo %></td>
        <td><%= evidence.nombre %></td>
        <td><%= evidence.descripcion %></td>
        <td><%= evidence.universidad %></td>
        <td><%= evidence.usuario %></td>
        <td><%= evidence.evidencetype %></td>
        <td><%= link_to 'Show', evidence %></td>
        <td><%= link_to 'Edit', edit_evidence_path(evidence) %></td>
        <td><%= link_to 'Destroy', evidence, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Evidence', new_evidence_path %>
