<p id="notice"><%= notice %></p>

<p>
  <strong>Codigo:</strong>
  <%= @evidence.codigo %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @evidence.nombre %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @evidence.descripcion %>
</p>

<p>
  <strong>Creado por:</strong>
  <%= @evidence.usuario.nombre %>
</p>

<p>
  <strong>Rut:</strong>
  <%= @evidence.usuario.rut %>
</p>

<p>
  <strong>Tipo de Evidencia:</strong>
  <%= @evidence.evidencetype.tipo %>
</p>

<%= link_to 'Editar', edit_evidence_path(@evidence) %> |
<%= link_to 'Volver', evidences_path %>
