<%= form_with(model: tipo_evidencium, local: true) do |form| %>
  <% if tipo_evidencium.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tipo_evidencium.errors.count, "error") %> prohibited this tipo_evidencium from being saved:</h2>

      <ul>
      <% tipo_evidencium.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :codigo %>
    <%= form.text_field :codigo, id: :tipo_evidencium_codigo %>
  </div>

  <div class="field">
    <%= form.label :tipo %>
    <%= form.text_field :tipo, id: :tipo_evidencium_tipo %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
