<p id="notice"><%= notice %></p>

<p>
  <strong>Codigo:</strong>
  <%= @tipo_evidencium.codigo %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @tipo_evidencium.tipo %>
</p>

<%= link_to 'Edit', edit_tipo_evidencium_path(@tipo_evidencium) %> |
<%= link_to 'Back', tipo_evidencia_path %>
