<%= form_with(model: escuela, local: true) do |form| %>
  <% if escuela.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(escuela.errors.count, "error") %> prohibited this escuela from being saved:</h2>

      <ul>
      <% escuela.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :codigo %>
    <%= form.text_field :codigo, id: :escuela_codigo, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :nombre %>
    <%= form.text_field :nombre, id: :escuela_nombre, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :director %>
    <%= form.text_field :director, id: :escuela_director, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :facultad_id, "Facultad" %>
    <%= form.collection_select :facultad_id, Facultad.all, :id, :nombre, {}, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.submit nil, class: "btn btn-success" %>
  </div>
<% end %>
