<p id="notice"><%= notice %></p>

<p>
  <strong>Codigo:</strong>
  <%= @escuela.codigo %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @escuela.nombre %>
</p>

<p>
  <strong>Director:</strong>
  <%= @escuela.director %>
</p>

<p>
  <strong>Facultad:</strong>
  <%= @escuela.facultad.nombre %>
</p>

<%= link_to 'Editar', edit_escuela_path(@escuela) %> |
<%= link_to 'Volver', escuelas_path %>
