<div class="row">
  <div class="col-md-3 center-block no-float">
    
    <h2><span class="glyphicon glyphicon-edit"></span> Editar <%= resource_name.to_s.humanize %> </h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, role: "form" }) do |f| %>
      <div class="form-group">
        <%= devise_error_messages! %>
      </div>

      <div class="form-group">
        <%= f.label :nombre %>
        <%= f.text_field :nombre, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :apellidos %>
        <%= f.text_field :apellido, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :email %>
        <%= f.email_field :email, class: "form-control" %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="form-group">
        <%= f.label :nueva_contraseña %> <i>(dejar en blanco si no desea cambiarlo)</i>
        <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
        <% if @minimum_password_length %>
          <em><%= @minimum_password_length %> caracteres minimo</em>
        <% end %>
      </div>

      <div class="form-group">
        <%= f.label :confirmar_contraseña %>
        <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :contraseña_actual %> <i>(necesaria para confirmar sus cambios)</i>
        <%= f.password_field :current_password, autocomplete: "off", class: "form-control" %>
      </div>

      <div class="text-center">
        <%= f.submit "Actualizar", class: "btn btn-success" %>
      </div>
    <% end %>

<!--    <h3>Cancelar mi cuenta</h3>

#    <p>¿Infeliz? <%= button_to "Cancelar mi cuenta", registration_path(resource_name), class: "btn btn-danger", data: { confirm: "'¿Esta seguro?" }, method: :delete %></p>

#    <%= link_to "Volver", :back %>
-->

  </div>
</div>
