<p id="notice"><%= notice %></p>

<p>
  <strong>Codigo:</strong>
  <%= @sello.codigo %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @sello.tipo %>
</p>

<%= link_to 'Editar', edit_sello_path(@sello) %> |
<%= link_to 'Volver', sellos_path %>
