<p id="notice"><%= notice %></p>

<h1>Universidads</h1>

<table>
  <thead>
    <tr>
      <th>Codigo</th>
      <th>Nombre</th>
      <th>Direccion</th>
      <th>Casa matriz</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @universidads.each do |universidad| %>
      <tr>
        <td><%= universidad.codigo %></td>
        <td><%= universidad.nombre %></td>
        <td><%= universidad.direccion %></td>
        <td><%= universidad.casa_matriz %></td>
        <td><%= link_to 'Ver', universidad %></td>
        <td><%= link_to 'Editar', edit_universidad_path(universidad) %></td>
        <td><%= link_to 'Borrar', universidad, method: :delete, data: { confirm: '¿Esta Seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nueva Universidad', new_universidad_path %>
