<p id="notice"><%= notice %></p>

<p>
  <strong>Codigo:</strong>
  <%= @universidad.codigo %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @universidad.nombre %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @universidad.direccion %>
</p>

<p>
  <strong>Casa matriz:</strong>
  <%= @universidad.casa_matriz %>
</p>

<%= link_to 'Editar', edit_universidad_path(@universidad) %> |
<%= link_to 'Volver', universidads_path %>
