<div class="row">
  <div class="col-md-2 center-block no-float">
    <h2><span class="glyphicon glyphicon-user"></span> Iniciar Sesion </h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {role: "form"}) do |f| %>
      <div class="form-group">
        <%= f.label :rut %><br />
        <%= f.text_field :rut, autofocus: true, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :contraseña %><br />
        <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
      </div>

      <% if devise_mapping.rememberable? -%>
        <div class="form-group">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end -%>

      <div class="text-center">
        <%= f.submit "Iniciar Sesion", class: "btn btn-success" %>
      </div>
      <div class="text-center">
        <%= render "devise/shared/links" %>
      </div>
    <% end %>
  </div>
</div>
