<%= form_with(model: evidencium, local: true) do |form| %>
  <% if evidencium.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(evidencium.errors.count, "error") %> prohibited this evidencium from being saved:</h2>

      <ul>
      <% evidencium.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :codigo %>
    <%= form.text_field :codigo, id: :evidencium_codigo %>
  </div>

  <!--
  <div class="field">
    <%= form.label :nombre %>
    <%= form.text_field :nombre, id: :evidencium_nombre %>
  </div>
  -->

  <div class="field">
    <%= form.label :archivo %>
    <%= form.file_field :archivo %>
  </div>

  <div class="field">
    <%= form.label :descripcion %>
    <%= form.text_field :descripcion, id: :evidencium_descripcion %>
  </div>

  <div class="field">
    <%= form.label :universidad_id %>
    <%= form.collection_select :universidad_id, Universidad.all.order("nombre"), :id, :codigo %>
  </div>

  <div class="field">
    <%= form.label :usuario_id %>
    <%= form.collection_select :usuario_id, Usuario.all.order("nombre"), :id, :nombre %>
  </div> 


  <!--
  <div class="field">
    <%= form.label :facultad_id, "Facultad" %>
    <%= form.collection_select :facultad_id, Facultad.all.order("nombre"), :id, :nombre %>
  </div>

  <div class="field">
    <%= form.label :escuela_id, "Escuela" %>
    <%= form.collection_select :escuela_id, Escuela.all.order("nombre"), :id, :nombre %>
  </div>

  <div class="field">
    <%= form.label :carrera_id, "Carrera" %>
    <%= form.collection_select :carrera_id, Carrera.all.order("nombre"), :id, :nombre %>
  </div>
  -->


  <div class="field">
    <%= form.label :tipo_evidencia_id %>
    <%= form.collection_select :tipo_evidencia_id, TipoEvidencium.all, :id, :tipo %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
