<p id="notice"><%= notice %></p>

<p>
  <strong>Codigo:</strong>
  <%= @facultad.codigo %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @facultad.nombre %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @facultad.direccion %>
</p>

<p>
  <strong>Universidad:</strong>
  <%= @facultad.universidad.codigo %>
</p>

<%= link_to 'Editar', edit_facultad_path(@facultad) %> |
<%= link_to 'Volver', facultads_path %>
