<%= form_with(model: evidencetype, local: true) do |form| %>
  <% if evidencetype.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(evidencetype.errors.count, "error") %> prohibited this evidencetype from being saved:</h2>

      <ul>
      <% evidencetype.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :codigo %>
    <%= form.text_field :codigo, id: :evidencetype_codigo, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :tipo %>
    <%= form.text_field :tipo, id: :evidencetype_tipo, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.submit nil, class: "btn btn-success" %>
  </div>
<% end %>
