<p id="notice"><%= notice %></p>

<p>
  <strong>Codigo:</strong>
  <%= @evidencetype.codigo %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @evidencetype.tipo %>
</p>

<%= link_to 'Edit', edit_evidencetype_path(@evidencetype) %> |
<%= link_to 'Back', evidencetypes_path %>
